* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: system-ui, -apple-system, 'Segoe UI', Roboto, sans-serif;
  background: #fef9e6;
}/* You can add global styles to this file, and also import other style files */
html {
  height: 100%;  // 👈 Y ESTO
}
